html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover{
  text-decoration: none !important;
}

body{
  background-color:#303952;
}

.cursor-pointer{
  cursor:pointer;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.font-weight-bold {
  font-weight: bold !important;
}